body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#cover {
    height: 650px;
    width: 450px;
    border: 2px solid brown;
    background: radial-gradient(circle, #ffeb3b, #ff9800);

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 30px;
    font-family: serif;
}

hr {
    width: 120px;
    border: 1px solid brown;
    margin-bottom: 30px;
}

/* Author section */
#author {
    margin-top: 40px;
    text-align: center;
}

.tagline {
    color: brown;
    font-family: monospace;
    margin-bottom: 10px;
}

/* Author image */
#author img {
    height: 90px;
    width: 90px;
    border-radius: 5%;
    border: 2px solid brown;
    padding: 8px;
    background-color: white;
}

/* Designer text at bottom */
#designer {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: monospace;
}